<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418517212993-llr02ooqt4b8qgv3p4scq3ag76affdub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418517212993-llr02ooqt4b8qgv3p4scq3ag76affdub</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>418517212993-bp324foc2omf19js17apo4civfcq7qe2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzHQWU5Ylqs1VFUrWb-MzeKEc9kLTZDrA</string>
	<key>GCM_SENDER_ID</key>
	<string>418517212993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nambadoctor.iOS.NambaDoctor</string>
	<key>PROJECT_ID</key>
	<string>ds-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>ds-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:418517212993:ios:37dced9fdcecab69854bc0</string>
	<key>DATABASE_URL</key>
	<string>https://ds-connect.firebaseio.com</string>
</dict>
</plist>
